/* CSS Reset Sederhana */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #f4f7f6;
  color: #333;
}

main {
  padding-top: 1rem;
}

/* Class container global kita */
.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

@media (max-width: 768px) {
  .container {
    padding: 1rem; /* Padding lebih kecil di HP */
  }
}
